<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="https://lab1webapp.blob.core.windows.net/images/Captura%20de%20pantalla%20(7).png?sp=r&st=2021-05-16T04:16:55Z&se=2021-05-18T12:16:55Z&spr=https&sv=2020-02-10&sr=b&sig=su%2FvmhPGh0OX3zHfkzknnDUdZhLNZNxdqIzjuulURxU%3D" alt="jeanie">
  </body>
</html>
